{% extends 'juntagrico/menu/admin.html' %}
{% load i18n %}
{% load juntagrico_webdav.menus %}
{% block extend %}
    {% if request.user.is_staff %}
        {% admin_menu as menus %}
        {% if menus %}
            <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.app_name != 'webdav' or 'list' not in request.resolver_match.url_name %} collapsed{% endif %}" data-toggle="collapse" href="#wd">
                    <i class="bi bi-caret-down turn"></i>
                    Webdav
                </a>
                <div class="collapse{% if request.resolver_match.app_name == 'webdav' and 'list' in request.resolver_match.url_name %} show{% endif %}" id="wd">
                    <ul class="nav flex-column subadmin-menu">
                        {% for admin_menu in menus %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'webdav:list' admin_menu.id %}">{{ admin_menu.menu_title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock %}
